@CHARSET "UTF-8";
@IMPORT url("common.css");

article{
	widows: 100%;
	min-height: 50%;
	position: relative;
	z-index: 10;
	margin: -50px 0;
	background-color: #FF7;
	
	
}
.content{
		padding-top: 50px;
}

#wrap{
	width: 99%;
	text-align: left; /*글자정렬을 왼쪽으로*/
	margin: 0;
	margin-right: auto; /*환경에 맞게 자동설정*/
	margin-left:  auto;
	background-image: url("../images/Koala.jpg");
	background-repeat: repeat-y;
	/*
	만약 배경 이미지가 작으면 이미지 반복으로 채우겠다
	*/	
	min-height: 750px;
	/*
	모니터에 따라 신축성있게 헤더가 축소되지만 최소한 750px 은
	유지하고 그 이하가 되면 이미지가 잘리도록 하겠다.
	*/


}